<!DOCTYPE html>
<html lang="en">
<link>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content=""/>
<meta name="author" content="Donald J. Trump"/>

<title>GoonSwarm Mumble</title>
<link rel="stylesheet" href="https://auth.tendollarbond.com/css/app.css"/>
<link rel="icon" type="image/png" href="https://auth.tendollarbond.com/favicon.png"/>
</head>

<body>
<div class="container">
    <header class="header">
        <span class="logo"></span>
    </header>

    <main role="main">
        <p>You actually did it, {{username}}.</p>
        <p>If you are running Mumble on this machine, just <strong><a href="{{mumbleLink}}">click here</a></strong>
            to log in.</p>
        <p>Otherwise you may use these details: </p>
        <p>
            <strong>Username: </strong>{{username}}<br>
            <strong>Password: </strong>{{password}}<br>
            <strong>Server: </strong>mumble.tendollarbond.com<br>
            <strong>Port: </strong>64738 (default)
        </p>
        <p>These credentials are only valid for a few hours.</p>
    </main>
</div>
</body>
</html>